* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('wallpaper.jpg') no-repeat;
    background-size: cover;
}

.minting-page {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.minting-page h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.minting-page p {
    font-size: 20px;
    margin: 15px 0;
    padding-left: 10px;
}

.minting-page input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.minting-page button {    
font-size: 18px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 50%;
border-radius: 5px;
border: 0;
display: flex;
justify-content: center;
background-color: blueviolet;
align-self: center;
}